<!-- Main Screen -->
{% include "../screens/overscreen.twig" %}
{% include "../components/player.twig" %}


<div class="apl-content">
	<div class="apl-area">
		<div
			class="apl-screen">

			<!-- #region  Main : HEADER -->
			<header class="apl-sticky-head">
				<div class="apl-flex-between">

					<button data-evt="toggleMenu" class="apl-header-icon">
						{% include "../svg/menu.svg" %}
					</button>

					<span class="apl-screen-title">{{artist.name}}</span>

					<button data-evt="toggleSearch" class="apl-header-icon">
						{% include "../svg/search.svg" %}
					</button>

				</div>
			</header>
			<!-- #endregion -->


			<!-- #region ARTIST -->
			<div class="apl-artist-media">
				<div class="apl-artist-welcome">
					<img src="./assets/artist-main.webp" loading="eager" alt="{{artistName}}">
					<div>
						<h1 class="apl-heading">{{artist.name}}</h1>
						<p class="apl-subheading">Real name is
							<span>{{artist.realName}}</span>
							was born in
							<span>{{artist.bornPlace}}</span>
							on
							<span>{{artist.bornDate}}</span>
						</p>
					</div>
				</div>

				<!-- Artist : MAIN CONTROLS -->
				<div class="apl-controls-group">
					<button class="apl-main-btn">
						{% include "../svg/shuffle.svg" %}
					</button>
					<button class="apl-main-btn apl-main-btn_play">
						{% include "../svg/play.svg" %}
					</button>
					<button class="apl-main-btn">
						{% include "../svg/share.svg" %}
					</button>
				</div>
			</div>
			<!-- #endregion -->


			<!-- Main : CONTENT -->
			<div
				class="apl-main-content">

				<!-- Main : SEARCH -->
				<div class="apl-wrap-area">
					{% include "../elements/search-form.twig" with {
          placeholder: "Search Camila Cabello...",
          id: "mainSearchForm",
          inputID: "mainSearchInput"
        } %}
				</div>

				<!-- Main : CONTENT -->
				<div
					class="apl-artist-content">

					<!-- Section : SONGS -->
					<section class="apl-row">

						<div class="apl-row-head">
							<div class="apl-flex-between">
								<h3 class="apl-row-title">All Songs</h3>
								{% if allSongs.select %}
									<form class="apl-select-form" action="" method="post">
										<div class="apl-select-wrap">
											<select name="" id="">
												{% for item in allSongs.select %}
													<option value="{{item.value}}">{{item.caption}}</option>
												{% endfor %}
											</select>
										</div>
									</form>
								{% endif %}
							</div>
						</div>

						<div class="apl-row-body">
							{% for i in 1..5 %}
								{% include '../elements/song-item.twig' with {'objects':i} %}
							{% endfor %}
						</div>

						<div class="apl-row-footer">
							<div class="apl-row-footer__wrapper">
								<div class="apl-pag">
									<button class="apl-pag__arrow is-flipped">
										{% include "../svg/arrow-next.svg" %}
									</button>
									<button class="apl-pag__btn is-active">1</button>
									<button class="apl-pag__btn">2</button>
									<button class="apl-pag__btn">3</button>
									<button class="apl-pag__btn">4</button>
									<button class="apl-pag__btn">...</button>
									<button class="apl-pag__btn">14</button>
									<button class="apl-pag__arrow">
										{% include "../svg/arrow-next.svg" %}
									</button>
								</div>
								<button data-apl-more="songs" class="apl-row-btn">
									178 More Songs
									{% include "../svg/follow.svg" %}
								</button>
							</div>
						</div>
					</section>

					<!-- Section : VIDEOS -->
					<section class="apl-row">
						<div class="apl-row-head">
							<div class="apl-flex-between">
								<h3 class="apl-row-title">Music Videos</h3>
								{% if videos.select %}
									<form class="apl-select-form" action="" method="post">
										<div class="apl-select-wrap">
											<select name="" id="">
												{% for item in videos.select %}
													<option value="{{item.value}}">{{item.caption}}</option>
												{% endfor %}
											</select>
										</div>
									</form>
								{% endif %}
							</div>
						</div>
						<div class="apl-row-body">
							<div class="apl-row__scroll-content">

								<div class="apl-video-col">
									{% for i in 1..2 %}
										{% include '../elements/video-item.twig' with {'objects':i} %}
									{% endfor %}
								</div>

								<div class="apl-video-col">
									{% for i in 1..2 %}
										{% include '../elements/video-item.twig' with {'objects':i} %}
									{% endfor %}
								</div>

								<div class="apl-video-col">
									{% for i in 1..2 %}
										{% include '../elements/video-item.twig' with {'objects':i} %}
									{% endfor %}
								</div>

								<div class="apl-video-col">
									{% for i in 1..2 %}
										{% include '../elements/video-item.twig' with {'objects':i} %}
									{% endfor %}
								</div>

								<button class="apl-scroll-btn">
									More
									{% include "../svg/follow.svg" %}
								</button>
								<div class="apl-scroll-space"></div>
							</div>
						</div>

						<div class="apl-row-footer">
							<div class="apl-row-footer__wrapper">
								<button data-apl-more="videos" class="apl-row-btn">
									42 More Videos
									{% include "../svg/follow.svg" %}
								</button>
							</div>
						</div>
					</section>

					<!-- Section : MERCH -->
					<section class="apl-row">
						<div class="apl-row-head">
							<div class="apl-flex-between">
								<h3 class="apl-row-title">Shop Merch</h3>
								{% if merch.select %}
									<form class="apl-select-form" action="" method="post">
										<div class="apl-select-wrap">
											<select name="" id="">
												{% for item in merch.select %}
													<option value="{{item.value}}">{{item.caption}}</option>
												{% endfor %}
											</select>
										</div>
									</form>
								{% endif %}
							</div>
						</div>

						<div class="apl-row-body">
							<div class="apl-merch-grid">
								{% for i in 1..4 %}
									{% include '../elements/merch-item.twig' with {'objects':i} %}
								{% endfor %}
							</div>
						</div>

						<div class="apl-row-footer">
							<div class="apl-row-footer__wrapper">
								<div class="apl-pag">
									<button class="apl-pag__arrow is-flipped">
										{% include "../svg/arrow-next.svg" %}
									</button>
									<button class="apl-pag__btn is-active">1</button>
									<button class="apl-pag__btn">2</button>
									<button class="apl-pag__btn">3</button>
									<button class="apl-pag__btn">4</button>
									<button class="apl-pag__btn">...</button>
									<button class="apl-pag__btn">14</button>
									<button class="apl-pag__arrow">
										{% include "../svg/arrow-next.svg" %}
									</button>
								</div>
								<button data-apl-more="merch" class="apl-row-btn">
									Explore Merch
									{% include "../svg/follow.svg" %}
								</button>
							</div>
						</div>
					</section>

					<!-- Section : ALBUMS -->
					<section class="apl-row">
						<div class="apl-row-head">
							<div class="apl-flex-between">
								<h3 class="apl-row-title">Music Albums</h3>
							</div>
						</div>
						<div class="apl-row-body">
							<div class="apl-wrap">
								<div class="apl-albums-grid">
									{% for i in 1..2 %}
										{% include "../elements/album-item.twig" %}
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="apl-row-footer">
							<div class="apl-row-footer__wrapper">
								<button data-apl-more="albums" class="apl-row-btn">
									3 More Music Albums
									{% include "../svg/follow.svg" %}
								</button>
							</div>
						</div>
					</section>

					<!-- Section : POSTS -->
					<section class="apl-row">
						<div class="apl-row-head">
							<div class="apl-flex-between">
								<h3 class="apl-row-title apl-row-title_x">POSTS</h3>
							</div>
						</div>
						<div class="apl-row-body">
							<div class="apl-empty-row">No active posts yet...</div>
						</div>

						<div class="apl-row-footer">
							<div class="apl-row-footer__wrapper">
								<button class="apl-row-btn apl-row-btn_x">
									Go To<span>X</span>
									{% include "../svg/follow.svg" %}
								</button>
							</div>
						</div>

					</section>

					<!-- Section : GALLERY -->
					<section class="apl-row">
						<div class="apl-row-head">
							<div class="apl-flex-between justify_center">
								<h3 class="apl-row-title">Gallery
									<span>Explore Camila Cabello's gallery with over than 760 photos</span>
								</h3>
							</div>
						</div>
						<div class="apl-row-body">
							<div class="apl-gallery-row">

								<div>
									{% for i in 0..2 %}
										<div class="apl-ticker_left">
											{% for i in 0..6 %}
												<img src="./assets/gallery-sample.jpeg" loading="eager" alt="">
											{% endfor %}
										</div>
									{% endfor %}
								</div>
								<div class="is-flipped">
									{% for i in 0..2 %}
										<div class="apl-ticker_right">
											{% for i in 0..6 %}
												<img src="./assets/gallery-sample.jpeg" loading="eager" alt="">
											{% endfor %}
										</div>
									{% endfor %}
								</div>

							</div>
						</div>

						<div class="apl-row-footer">
							<div class="apl-row-footer__wrapper">
								<button class="apl-row-btn">
									Go To Gallery
									{% include "../svg/follow.svg" %}
								</button>
							</div>
						</div>
					</section>

					<!-- Section : FOOTER -->
					<footer class="apl-row">
						<div class="apl-footer">
							<div class="apl-footer__wrapper">
								<div class="apl-app-info">
									<img src="./assets/artist-main.webp" loading="lazy" alt="">
									<span>{{artist.name}}</span>
								</div>

								<div class="apl-super-grid">
									<div class="apl-social-box">
										<img src="./assets/tiktok.svg" loading="lazy" alt="">
										<span>TikTok<span>3.4 Followers</span>
										</span>
									</div>

									<div class="apl-social-box">
										<img src="./assets/youtube.svg" loading="lazy" alt="">
										<span>YouTube<span>
												1,2M Subscribers</span>
										</span>
									</div>

									<div class="apl-social-box">
										<img src="./assets/twitter.svg" loading="lazy" alt="">
										<span>Twitter<span>
												358K Followers</span>
										</span>
									</div>

									<div class="apl-social-box">
										<img src="./assets/facebook.svg" loading="lazy" alt="">
										<span>Facebook<span>
												358K Followers</span>
										</span>
									</div>

									<div class="apl-social-box">
										<img src="./assets/instagram.svg" loading="lazy" alt="">
										<span>Instagram<span>
												5M FOLLOWERS</span>
										</span>
									</div>
								</div>

								<div class="apl-powered">
									<span>Powered By</span><img src="./assets/ersy_logo.svg" loading="lazy" alt="">
								</div>
							</div>
						</div>
					</footer>

				</div>
			</div>

		</div>
	</div>
</div>

{% include "../screens/morescreen.twig" %}
