<div class="apl-video">
	<div class="apl-video__media">
  <img src="{{videoItem.imgUrl}}" loading="eager" alt="">
	</div>
	<div class="apl-video__details">
		<span class="apl-item-subheading">{{videoItem.date}}<span class="span-dot">•</span>{{videoItem.views}} Views</span>
		<span class="apl-item-name">{{videoItem.name}}</span>
		<span class="apl-item-subname">{{videoItem.subName}}</span>
	</div>
</div>
